body {
  background-color: rgb(174, 255, 228);
}
header {
  display: flex;
  justify-content: center;
}
#login-form {
  background-color: #fff;
  display: block;
  width: fit-content;
  padding: 30px;
  border-radius: 10px;
}
input {
  width: 300px;
  padding: 5px 10px;
}
